.practice{
    font-size: 11px;
    display: inline;
    color: #83caae;
}
.table{
    display: table;
    width: 90%; 
  }
  
  .table > div {
    display: table-cell;
  }
  .border-center{
    border-right: 1px solid #000;
    text-align: center;
}
.center{
    text-align: center;
}