.special-card {
      background-color: rgba(245, 245, 245, 1);
      opacity: .1;
      text-decoration-color: blue;
    }
.cardImage {
  object-fit: cover;
  border-radius: 55;
      width: 236px;
      height: 135px;    
}
.overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  height: auto;
  width: auto;
  opacity: 50;
  border-radius: 50%;
}