.container{
    width: 280px;
    border-width: 0cm;
    border-radius: 5px;
    height: 37px;
    padding-left: 0cm;
}

.container-end{
    width: 280px;
    border-width: 0cm;
    margin-left: 25%;
    border-radius: 5px;
    height: 37px;
}
.container-color{
    padding-left: 40px;
    padding-right: 40px;
    background-color: gainsboro;
    background-clip: content-box, padding-box;
}

.container-gender{
    width: 100px;
}
.container-degree{
    width: 200px;
    height: 37px;
}
